<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Discovery</title>
    <link rel="stylesheet" href="static/dishdiscoverystyle.css">
</head>
<body onload="loadpage()">
    <div class="nav">
    <nav>
        <ul>
            <img class="logo" src="static/logo.png">
            <li><a href="">HOME</a></li>
            <li><a href="login">ORDER</a></li>
            <li><a href="about">ABOUT US</a></li>
            <li><a href="gallery">GALLERY</a></li>
            <li><a href="catering">CATERING</a></li>
            <li><a href="login"> LOGIN</a></li>
        </ul>
    </nav>
         <h1 class="text1">Welcome to</h1>
         <h2 class="text2">Dish Discovery</h2> 
         <h5  class="text3">"A meal is more than food -it's an<br>experience.Let's create memories<br>together."</h5>
    </div>
    <div class="menutext">
        <h4>Our Dishes</h4>
        <h3>OUR POPULAR CHINESE DISHES</h3>
    </div>
   <div class="row">
        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Beef Dumpling in hot<br><br>and Sour Soup  </b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Grilled Shrimp</b></h3>
                        <p align="center">⭐⭐⭐⭐ </p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Yizun Beef Noodles </b></h3>
                        <p align="center">  ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese4.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Veggie Fired Rice <br><br> Egg</b></h3>
                        <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese5.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Shanghai</b></h3>
                        <p align="center">⭐⭐⭐⭐ </p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="chinese" src="static/chinese6.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Nigerian Roll of Rice <br> <br> With Grilled Chicken </b></h3>
                        <p align="center">  ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>
    </div>

    <div class="Explore">
        <h3 align="center"><b>EXPLORE MORE CHINESE MENU</b></h3>
       <a href="chinesemenu"><button class="button" type="submit" name="name1">Explore</button></a>
    </div>

    <div class="textabout">
       <h2>About Chinese Dishes :</h2>
       <p>At Dish Discovery, we bring the rich flavors and cultural heritage of China to your table.<br><br>
        Our menu features a wide variety of traditional Chinese dishes that represent different regions,<br> <br>
        cooking styles, and bold tastes. From the vibrant and spicy dishes of Sichuan to the savory and delicate<br><br> flavors of Cantonese cuisine, we have something to satisfy every craving.</p>
       <hr>
       <img class="chineseaboutimg" src="static/aboutchinese.png">
    </div>
    <div class="menutext">
        <h4>Our Dishes</h4>
        <h3>OUR POPULAR ITALY DISHES</h3>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Lasagna </b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Risotto</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Carbonara </b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy4.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Gnocchi</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy5.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Margherita Pizza</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/italy6.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Gourmet Spacial<br><br> Italian Sea Food </b></h3>
                            <p align="center"> ⭐⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>
    </div>
        <div class="Explore">
            <h3 align="center"><b>EXPLORE MORE ITALY MENU</b></h3>
           <a href="italymenu"> <button class="button" type="submit" name="name2">Explore</button> </a>
        </div>
    <div class="italyheader">
        <div>
                <img src="static/aboutpiza.jpg">
        </div> 
            <div class="italyabout"> 
                <h2>About Italy Dishes :</h2><br>
             <p>At Dish Discovery, we bring you the authentic taste of Italy, crafted from generations of culinary tradition.<br><br>
                 Italian food is not just about ingredients—it's about passion, history, and family.<br><br>
                  Whether you're enjoying a simple dish like pizza or an elaborate<br> <br>multi-course meal, each bite tells a story.</p>
            </div>
    </div>
    <div class="menutext">
        <h4>Our Dishes</h4>
        <h3>OUR POPULAR INDIA DISHES</h3>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img class="italy" src="static/india1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Kerala Parotta with <br><br>Beef </b></h3>
                            <p align="center"> ⭐⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/india2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Hyderabad Briyani</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/india3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Kerala Sadhya</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="italy" src="static/india4.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Dosa with Chutney <br><br>Sambar</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/india5.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Idiyappam with <br><br>Egg Curry</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="italy" src="static/india6.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Pav Bhaji</b></h3>
                            <p align="center"> ⭐⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>
    </div>
        <div class="Explore">
            <h3 align="center"><b>EXPLORE MORE INDIA MENU</b></h3>
            <a href="indiamenu"><button class="button" type="submit" name="name2">Explore</button> </a>
        </div>
   
    <div class="indiaabout">
        <img src="static/indiaabout.jpg">
        <h2>About Indian Dishes</h2>
        <p>Welcome to Dish Discovery, where we bring the rich, vibrant flavors of India to your table<br><br>
             At the heart of our kitchen, we blend time-honored recipes with the freshest ingredients,<br><br>
              offering a diverse and authentic Indian dining experience <br><br>
              that is both exciting and memorable.</p>

    </div>

    <h2 class="loginh2">SIGNUP to Dish Discovery</h2>
    <hr>
    <h1 style="color:rgb(79, 48, 48);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 25px;"><b><marquee scrollamount="7" behaviour=" " direction="left"><b>"Stay updated with our latest menu , special offers , and events-check back often !"</b></marquee></b></h1>
    <div class="loginbg">
    <div class="login">
        <button class="button" type="submit" name="name4"><a href="sign"> EMAIL SIGNUP</a> </button>
    </div>
    </div>

    <div class="menutext">
        <h4>Juice Menu</h4>
        <h3>OUR POPULAR JUICES</h3>
    </div>

    <div class="row">
        <div class="column">
            <div class="card1">
                <img class="juice" src="static/juice1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Kivi Juice</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card1">
                <img class="juice" src="static/juice2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Blue Crush Mojito</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card1">
                <img class="juice" src="static/juice3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Orange Juice</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card1">
                <img class="juice" src="static/juice4.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Grape Juice </b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>
    </div>

    <h3 align="center"><b>EXPLORE MORE JUICE MENU</b></h3>
    <a href="drinkmenu"><button class="button" type="submit" name="name5">Explore</button> </a>
    <br>
    <br>
    <hr>

    <div class="menutext">
        <h4>Tea Menu</h4>
        <h3>OUR POPULAR TEA'S</h3>
    </div>

    <div class="row">
        <div class="column">
            <div class="card2">
                <img class="tea" src="static/tea1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Vanilla Chai Latte</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card2">
                <img class="tea" src="static/tea2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Cappuccino</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card2">
                <img class="tea" src="static/tea3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Iced Matcha Latte</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>
    </div>

    <div class="Explore">
        <h3 align="center"><b>EXPLORE MORE TEA MENU</b></h3>
        <a href="coffemenu"><button class="button" type="submit" name="name6">Explore</button></a>
    </div>
    
    <br>
    <br>
    <hr>

    <div class="menutext">
        <h4>Dessert Menu</h4>
        <h3>OUR POPULAR DESSERT'S</h3>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert1.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Chocolate Brownies</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert2.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>French Macarons</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert3.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Cupcake With<br><br>Red Strawberry<br><br>Toppings</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert4.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Pudding With<br><br>Ice Cream<br><br>On Top</b></h3>
                            <p align="center"> ⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert5.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Pile Of Pancake<br><br>With Honey</b></h3>
                            <p align="center"> ⭐⭐⭐⭐½</p>
                    </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="dessert" src="static/dessert6.jpg" alt="img">
                    <div class="container"><br>
                        <h3 class="name" align="center"><b>Shibuya Honey Toast</b></h3>
                            <p align="center"> ⭐⭐⭐⭐⭐</p>
                    </div>
            </div>
        </div>
    </div>

        <h3 align="center"><b>EXPLORE MORE DESSERT MENU</b></h3>
       <a href="dessertmenu"> <button class="button" type="submit" name="name7">Explore</button> </a>
        <br>
        <br>
        <hr>
    <div class="reservation">
        <h2><b>BOOK  A  TABLE</b></h2>
        <h4><b>Click Here 👇👇</b></h4>
        <br>
        <button class="reservationbutton" type="submit" name="name8"><a href="reserve" >RESERVATIONS </a></button>
    </div>
<hr class="hr1">

    <div class="end">
        <div>
          <h2>LOCATION</h2>
           <P>XXXXX</P>
        </div>
        <div>
            <h2>PHONE</h2>
            <p>638548</p>
        </div>
        <div>
            <h2>EMAIL</h2>
            <P>dishdiscovery@gmail.com</P>
        </div>
        <div>
            <h2>HOURS</h2>
            <p>MON-FRI 10.30am-9.00pm</p>
            <p>SAT-10.30am-7.00pm</p>
            <p>Closed On Sundays</p>

        </div>

    </div>


    <div id="mypage" class="page">
        <div class="mypage-text">
            <span class="close-btn1" onclick="closepage()">x</span>
            <p>Welcome To Dish Discovery ! <br>
                  <br>Click Here To Continue the Page</p>
            <button onclick="closepage()">CLICK TO SITE</button>
            <br>
           <a href="login"> <button>Go to Order</button> </a>
        </div>

    </div>

    <script src="static/dishdiscovery.js"> </script>
</body>
</html>